@media screen and (min-width: 1200px) {
  /* ========================= hero_wrap start ============================= */
  /* .hero_wrap {
      position: relative;
    }
    .hero_wrap .container {
      padding-top: 10px;
    }
    .hero_wrap::after {
      top: 0px;
      left: 0px;
      z-index: -1;
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      filter: blur(5px);
      background-image: url("https://images.api.hahow.in/images/5f99af09f506d3716bf91b53");
      z-index: -1;
    } */
  /* .hero_wrap h2 {
      color: white;
      font-size: 30px;
      margin: 30px 0 10px;
    } */
  .main_wrap {
    /* display: flex; */
    margin-top: 40px;
    /* padding: 0; */
  }

  /* ========================= 影片區 start ============================= */
  .video_wrap {
    padding: 0;
  }
  /* ========================= 選單外層 start ============================= */
  .menu_wrap {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .menu_wrap .title {
    padding: 15px;
  }
  .menu_wrap .title p {
    font-size: 12px;
    color: white;
  }
  .menu_wrap .title div {
    margin-top: 10px;
  }
  .menu_wrap .title span {
    display: inline-block;
    margin-left: 10px;
    border-radius: 100px;
    white-space: nowrap;
    padding: 4px 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    cursor: pointer;
    transition: background 250ms ease 0s;
    box-shadow: rgb(0 0 0 / 43%) 0px 5px 5px;
  }
  .menu_wrap .title span:first-child {
    background-color: orange;
    color: white;
  }
  .menu_wrap .title span:last-child {
    background-color: white;
  }
  /* ========================= 選單區 start ============================= */
  .class_content {
    width: 100%;
    height: 100%;
    border-top: 1px solid white;
    overflow-y: scroll;
    padding: 10px 10px 0 10px;
  }
  .class_content .wrap {
    padding: 10px;
    border-bottom: 1px solid white;
  }
  .class_content .list .title {
    padding: 15px;
    flex-grow: 2;
  }
  .class_content .content {
    padding: 10px 20px 10px;
    border-bottom: 1px solid white;
    margin: auto;
  }
  .class_content .content .list .text {
    padding: 5px;
    word-wrap: break-word;
    word-break: normal;
    line-height: 1.5em;
  }
  .class_content .content .list {
    cursor: pointer;
    padding: 5px 10px;
  }
  .class_content .list .text {
    width: 265px;
    padding: 5px;
    flex-grow: 2;
  }
  .class_content .list {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid transparent;
  }
  .class_content .active {
    background-color: white;
    color: black;
  }
  .class_content .list .time,
  .class_content .list .icon,
  .class_content .list .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .class_content .btn_control {
    border: 2px solid transparent;
  }
  .class_content .content .list:hover,
  .class_content .btn_control:hover,
  .class_content .btn_control:focus {
    transition: 0.5s;
    text-decoration: none;
    border: 2px solid rgb(46, 225, 179);
  }

  /* ========================= detail start ============================= */
  .detail_wrap {
    border-bottom: 2px solid rgb(233, 230, 230);
    box-shadow: rgb(0 0 0 / 24%) 0px 1px 2px;
  }
  /* 4icon+文字 */
  .sign_wrap {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-left: 2px solid rgb(233, 230, 230);
  }
  .sign_wrap .item {
    display: flex;
    flex-direction: column;
  }
  .sign_wrap .item img {
    width: 60px;
    height: 60px;
  }
  .sign_wrap .item p {
    display: block;
    padding: 15px 0 0;
  }

  /* 課程價格 */
  .price_wrap {
    padding: 15px;
    border-left: 2px solid rgb(233, 230, 230);
    border-right: 2px solid rgb(233, 230, 230);
  }
  .price_wrap p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .price_wrap h2 {
    font-size: 40px;
    padding: 10px 0;
  }

  /* 購買區塊 */
  .buy_wrap {
    padding: 15px;
    border-right: 2px solid rgb(233, 230, 230);
  }
  .buy_wrap .collect {
    margin-bottom: 15px;
    padding: 0 20px;
  }
  .buy_wrap .btn_wrap {
    display: flex;
    justify-content: space-evenly;
  }
  .buy_wrap .btn_wrap > button:first-child {
    padding: 10px 70px;
  }
  .buy_wrap .btn_wrap > button {
    font-size: 20px;
    padding: 10px 25px;
  }
}
