body {
  font-family: cursive;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}
/* +++++++++++++++++++++++++ 
   Section Product Category
+++++++++++++++++++++++++ */
.products-home-banner {
  width: 100%;
  height: 30vh;
  background-image: url(../../img/product/banner1.jpg);
  background-size: cover;
  z-index: -1;
  opacity: 0;
  animation: fade-in 3s forwards ease-in-out;
}
.products-home-banner::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 30vh;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 25%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.8) 75%,
    #cbdae8 100%
  );
}
@keyframes fade-in {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.card {
  border-radius: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  box-shadow: 0px 2px 5px #ccc;
  margin-bottom: 40px;
}
.about-card {
  padding: 20px 60px;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .about-card {
    padding: 20px 20px;
  }
}
@media screen and (min-width: 568px) and (max-width: 767px) {
  .about-card {
    padding: 20px 150px;
  }
}
.about-card h1 {
  font-weight: bold;
}
.about-card span {
  font-size: 18px;
}
.about-card svg {
  width: auto;
  height: auto;
  padding: 10px;
  margin-bottom: 15px;
  color: white;
  position: relative;
  border-radius: 50%;
}
.bg-gray {
  background-color: #949494;
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px black;
  transition: 1s;
}
.bg-pink {
  background-color: #acaebc;
}
.about-card-ctnter {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.about-card span {
  text-align: justify;
}
/* +++++++++++++++++++++++++ 
      Product List 
+++++++++++++++++++++++++ */
#products-list {
  padding-top: 0px;
}
.product-list-title {
  margin-top: 50px;
  margin-bottom: 0px;
  align-items: center;
  padding-left: 15px;
}
.partition::before {
  position: absolute;
  content: " ";
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to bottom, #cbdae8 0%, white 100%);
  z-index: -1;
}
.product-list-title > h2 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: lighter;
  margin: 0px;
  padding-left: 10px;
  padding-right: 15px;
}
.product-list-title a {
  width: 100px;
  height: 30px;
  position: relative;
  font-size: 15px;
  font-family: "Times New Roman", serif;
  text-align: center;
  color: black;
  text-decoration: none;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid #949494;
  border-radius: 5px;
  padding: 0 10px 0;
  -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
  -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: -moz-linear-gradient(top, #768d87 5%, #414141 100%);
  background: -webkit-linear-gradient(top, #768d87 5%, #414141 100%);
  background: -o-linear-gradient(top, #768d87 5%, #414141 100%);
  background: -ms-linear-gradient(top, #768d87 5%, #414141 100%);
  background: linear-gradient(to bottom, #768d87 5%, #414141 100%);
  background-color: #768d87;
  border-radius: 20px;
  letter-spacing: 3px;
}
.product-list-title a:hover {
  width: 150px;
  background: #414141;
  transition: 1s ease;
}
.product-list {
  height: auto;
  position: relative;
  --webkit-perspective: 800;
  margin-top: 10px;
}
.product-list:active {
  cursor: move;
}
.product-card {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  cursor: pointer;
  transform-style: preserve-3d;
  --webkit-transform-style: preserve-3d;
  transition: 1s;
  --webkit-transition: 1s;
}
.card-filp {
  transform: rotateY(180deg) translateZ(50px) translateY(-15px);
  --webkit-transform: rotateY(180deg);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}
.product-card div {
  display: block;
  position: absolute;
  backface-visibility: hidden;
  --webkit-backface-visibility: hidden;
}
.product-card-front {
  align-items: center;
  justify-content: center;
}
.product-card-back {
  top: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  --webkit-transform: rotateY(180deg);
  transition: 1s;
  --webkit-transition: 1s;
  transition-delay: 0.5s;
  --webkit-transition-delay: 0.5s;
  opacity: 0;
  background: #70e1f5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    155deg,
    #ffd194,
    #70e1f5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    155deg,
    #ffd194,
    #70e1f5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
}
.card-filp .product-card-back {
  opacity: 1;
}
.product-card-back p {
  height: auto;
  padding: 20px 20px;
  text-align: justify;
  font-size: 24px;
  line-height: 1.5;
}
.product-card-back p span {
  font-size: 16px;
  text-align: justify;
  top: 0px;
}
.product-list img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.slick-slide {
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
}
.slick-list {
  margin-left: 0px;
}
.slick-dots {
  position: relative;
  bottom: 0px;
}
.slick-slide > div {
  position: relative;
}
.next {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  display: none;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  right: 15px;
  z-index: 100;
  border-radius: 10px 0px 0px 10px;
}
.prev {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  display: none;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  left: 15px;
  z-index: 100;
  border-radius: 0px 10px 10px 0px;
}
.look-button {
  display: block;
}
button:focus {
  outline: none;
}
.video-ifame-box {
  color: white;
  margin-top: 50px;
}
.video-ifame-box::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 500px;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}
.video-ifame-box:before {
  content: " ";
  position: absolute;
  width: 100%;
  min-width: 100%;
  height: 500px;
  left: 0;
  background-image: url(/img/product/videobk2.jpg);
  background-size: 100% 100%;
  /* background-size: cover; */
}
.video-ifame {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.video-ifame h2 {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 0.4em;
  background: #200122; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    rgb(231, 134, 23),
    rgb(248, 44, 44)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    rgb(231, 134, 23),
    rgb(248, 44, 44)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.video-ifame p {
  text-align: justify;
  font-size: 20px;
  width: auto;
  letter-spacing: 2px;
  text-indent: 2em;
  line-height: 2em;
  color: rgba(211, 211, 211, 0.8);
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 992px) {
  .video-ifame p {
    width: 600px;
  }
}
#play-video-box {
  display: inline-block;
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.5s ease;
}
#play-video {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
}
#play-video-circle {
  stroke: rgb(243, 186, 79);
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  fill: none;
  stroke-width: 9px;
  stroke-linecap: round;
  transition: all 0.5s ease-in-out;
  opacity: 0.3;
}
#play-video-box #play-video {
  transition: all 0.7s ease-in-out;
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: white;
  transform: translateY(0);
}
#play-video-box:hover #play-video {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: rgb(243, 186, 79);
  animation: nudge 0.7s ease-in-out;
}
@keyframes nudge {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
#play-video-box:hover #play-video-circle {
  stroke-dashoffset: 0;
  opacity: 1;
}
#video-ifame-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  bottom: 50px;
}
#video-position {
  width: 100%;
  height: 100vh;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
#video-position iframe {
  position: relative;
  width: 70%;
  height: 70%;
}
#close-iframe {
  position: fixed;
  width: 20px;
  height: 20px;
  top: 10%;
  right: 15%;
  z-index: 101;
  color: white;
  cursor: pointer;
}
.category-card-title {
  text-align: center;
  font-weight: bold;
  background-image: -webkit-linear-gradient(
    top,
    rgba(160, 82, 45, 0.4),
    rgba(160, 82, 45, 0.7),
    rgba(160, 82, 45, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 60px;
  margin-bottom: 30px;
}
hr {
  border-top: 0px solid black;
  height: 1.5px;
  background: linear-gradient(
    to right,
    rgba(160, 82, 45, 0.9) 0%,
    rgba(160, 82, 45, 0.5) 30%,
    white 50%,
    rgba(160, 82, 45, 0.5) 60%,
    rgba(160, 82, 45, 0.9) 100%
  );
  margin-bottom: 40px;
}
.category-card-block {
  margin-bottom: 60px;
}
.category-card-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-card {
  position: relative;
  width: 700px;
  height: 300px;
  border: 0px black solid;
  margin: 10px 0px;
  padding: 0px;
}
@media screen and (max-width: 576px) {
  .category-card {
    height: 150px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .category-card {
    height: 200px;
  }
}
.category-card:hover {
  opacity: 0.4;
}
.category-card h2 {
  width: 100%;
  position: absolute;
  top: 45%;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  cursor: pointer;
}
.category-card img {
  /* width: 100%; */
  height: 100%;
  opacity: 0.6;
}
/* ----------------
     Footer section
 ---------------------*/
.footer-section {
  padding: 65px 0;
  background: #353649;
}
.footer-widget {
  margin-bottom: 40px;
}
.footer-widget h5 {
  font-weight: 700;
  color: #fff;
  margin-bottom: 35px;
  padding-top: 15px;
}
.footer-widget ul {
  list-style: none;
}
.footer-widget ul li a {
  display: block;
  color: #acaebc;
  padding: 2px 0;
  margin-bottom: 8px;
}
.footer-social a {
  display: inline-table;
  width: 25px;
  height: 25px;
  border: 1px solid #7e7f8f;
  border-radius: 50%;
  color: #7e7f8f;
  font-size: 12px;
  text-align: center;
  margin-right: 6px;
  margin-bottom: 5px;
}
.footer-social a i {
  vertical-align: middle;
  display: table-cell;
}
.copyright {
  padding-top: 10px;
  font-size: 16px;
  color: #83869b;
}
.copyright a {
  color: #83869b;
  text-decoration: underline;
}
.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
  color: #fff;
}
/* Small Mobile :320px. */
@media only screen and (max-width: 479px) {
  .features-section {
    padding-left: 15px;
    padding-right: 15px;
  }
}
